//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// SciChart.Examples.xcconfig is part of the SCICHART® Examples. Permission is hereby granted
// to modify, create derivative works, distribute and publish any part of this source
// code whether for commercial, private or personal use.
//
// The SCICHART® examples are distributed in the hope that they will be useful, but
// without any warranty. It is provided "AS IS" without warranty of any kind, either
// expressed or implied.
//******************************************************************************

#include "../Configuration/BaseFramework.xcconfig"

PRODUCT_NAME = SciChart.Examples
PRODUCT_BUNDLE_IDENTIFIER = com.scichart.examples.sources

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 4RZQG425FX

MACH_O_TYPE = mh_dylib
BUILD_LIBRARY_FOR_DISTRIBUTION = NO

INFOPLIST_FILE = Resources/Info.plist
SWIFT_OBJC_BRIDGING_HEADER = Resources/SCDExamples-BridgingHeader.h

IPHONEOS_DEPLOYMENT_TARGET = 11.0

// CocoaPods Dependency from the SciChartDemo/SciChartDemo.Mac
PODS_CONFIGURATION_BUILD_DIR = $BUILD_DIR/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_XCFRAMEWORKS_BUILD_DIR = $(PODS_CONFIGURATION_BUILD_DIR)/XCFrameworkIntermediates
PLATROFM_SUFFIX[sdk=macosx*] = macOS
PLATROFM_SUFFIX[sdk=iphone*] = iOS

HEADER_SEARCH_PATHS = $(inherited) $PODS_CONFIGURATION_BUILD_DIR/RxSwift-$PLATROFM_SUFFIX/RxSwift.framework/Headers
FRAMEWORK_SEARCH_PATHS = $(inherited) $PODS_CONFIGURATION_BUILD_DIR/RxSwift-$PLATROFM_SUFFIX $PODS_XCFRAMEWORKS_BUILD_DIR/SciChart
OTHER_LDFLAGS = $(inherited) -framework "RxSwift" -framework "SciChart"
