//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// SciChart.Examples.xcconfig is part of the SCICHART® Examples. Permission is hereby granted
// to modify, create derivative works, distribute and publish any part of this source
// code whether for commercial, private or personal use.
//
// The SCICHART® examples are distributed in the hope that they will be useful, but
// without any warranty. It is provided "AS IS" without warranty of any kind, either
// expressed or implied.
//******************************************************************************

#include "../Configuration/BaseFramework.xcconfig"

PRODUCT_NAME = SciChart.Examples
PRODUCT_BUNDLE_IDENTIFIER = com.scichart.examples.sources

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 4RZQG425FX

MACH_O_TYPE = mh_dylib
BUILD_LIBRARY_FOR_DISTRIBUTION = NO

INFOPLIST_FILE = Resources/Info.plist
SWIFT_OBJC_BRIDGING_HEADER = Resources/SCDExamples-BridgingHeader.h

IPHONEOS_DEPLOYMENT_TARGET = 11.0
SKIP_INSTALL = YES
