<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<dict>
		<key>[1]Featured Apps</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Performance Demo</string>
				<key>exampleDescription</key>
				<string>Animated appending to 1 milion points</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>SCDSeriesAppendingTestSciChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSSeriesAppendingTestSciChart</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>ECG Monitor Demo</string>
				<key>exampleDescription</key>
				<string>The ECG Monitor Demo showcases a real-time heart-rate monitor.</string>
				<key>exampleIcon</key>
				<string>RealTime</string>
				<key>exampleFile</key>
				<string>ECGChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSECGChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Oscilloscope Demo</string>
				<key>exampleDescription</key>
				<string>Showcases Sorted and Unsorted Data Series in a real-time</string>
				<key>exampleIcon</key>
				<string>RealTime</string>
				<key>exampleFile</key>
				<string>OscilloscopeChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSOscilloscopeChartView</string>
			</dict>
		</array>
		<key>[2]Basic Chart Types</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Line Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Line-Chart in code.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>LineChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSLineChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Digital Line Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Digital Line-Chart in code.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>DigitalLineChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSDigitalLineChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Column Chart</string>
				<key>exampleDescription</key>
				<string>Generates a simple Column Series chart in code-behind.</string>
				<key>exampleIcon</key>
				<string>ColumnChart</string>
				<key>exampleFile</key>
				<string>ColumnChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSColumnChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Mountain Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Mountain (Area) Chart in code.</string>
				<key>exampleIcon</key>
				<string>MountainChart</string>
				<key>exampleFile</key>
				<string>MountainChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSMountainChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Digital Mountain Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Digital Mountain (Area) Chart in code.</string>
				<key>exampleIcon</key>
				<string>MountainChart</string>
				<key>exampleFile</key>
				<string>DigitalMountainChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSDigitalMountainChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Scatter Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Scatter chart in code.</string>
				<key>exampleIcon</key>
				<string>ScatterChart</string>
				<key>exampleFile</key>
				<string>ScatterSeriesChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSScatterSeriesChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Candlestick Chart</string>
				<key>exampleDescription</key>
				<string>Generates a simple Candlestick chart in code.</string>
				<key>exampleIcon</key>
				<string>CandlestickChart</string>
				<key>exampleFile</key>
				<string>CandlestickChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSCandlestickChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Bubble Chart</string>
				<key>exampleDescription</key>
				<string>Generates a line and bubble series chart in code.</string>
				<key>exampleIcon</key>
				<string>BubbleChart</string>
				<key>exampleFile</key>
				<string>BubbleChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSBubbleChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Band Series Chart</string>
				<key>exampleDescription</key>
				<string>Generates a simple Band Series chart in code.</string>
				<key>exampleIcon</key>
				<string>BandChart</string>
				<key>exampleFile</key>
				<string>BandChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSBandChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Digital Band Series Chart</string>
				<key>exampleDescription</key>
				<string>Generates a simple Digital Band Series chart in code.</string>
				<key>exampleIcon</key>
				<string>BandChart</string>
				<key>exampleFile</key>
				<string>DigitalBandChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSDigitalBandChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Heatmap Chart</string>
				<key>exampleDescription</key>
				<string>Demonstrates how to create a real-time Heatmap using SciChart.</string>
				<key>exampleIcon</key>
				<string>HeatmapChart</string>
				<key>exampleFile</key>
				<string>HeatmapChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSHeatmapChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Impulse Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Impulse-Chart in code.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>ImpulseChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSImpulseChartView</string>
			</dict>
		</array>
		<key>[3]Chart Annotations</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Annotations are Easy</string>
				<key>exampleDescription</key>
				<string>Generates a simple Annotations demo.</string>
				<key>exampleIcon</key>
				<string>Annotations</string>
				<key>exampleFile</key>
				<string>AnnotationsChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSAnnotationsChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Interaction with Annotations</string>
				<key>exampleDescription</key>
				<string>Showcase intaraction with a huge variety of annotations</string>
				<key>exampleIcon</key>
				<string>Annotations</string>
				<key>exampleFile</key>
				<string>InteractionWithAnnotations</string>
				<key>exampleSwiftFile</key>
				<string>SCSInteractionWithAnnotations</string>
			</dict>
		</array>
		<key>[4]Create a MultiSeries Chart</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Error Bars Chart</string>
				<key>exampleDescription</key>
				<string>Generates a ErrorBars-Chart in code.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>ErrorBarsChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSErrorBarsChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Fan Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Fan-Chart in code.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>FanChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSFanChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Adding series with millions points Demo</string>
				<key>exampleDescription</key>
				<string>Generates super fast adding of FastLineRenderableSeries.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>LinePerformanceChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSLinePerformanceChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>StackedMountain Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Stacked Mountain chart in code.</string>
				<key>exampleIcon</key>
				<string>StackedMountainChart</string>
				<key>exampleFile</key>
				<string>StackedMountainChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSStackedMountainChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Stacked Column Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Stacked Column chart in code.</string>
				<key>exampleIcon</key>
				<string>ColumnChart</string>
				<key>exampleFile</key>
				<string>StackedColumnChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSStackedColumnChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Stacked Column Side By Side</string>
				<key>exampleDescription</key>
				<string>Generates a Stacked Column Side By Side chart in code.</string>
				<key>exampleIcon</key>
				<string>ColumnChart</string>
				<key>exampleFile</key>
				<string>StackedColumnSideBySideChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSStackedColumnSideBySideChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Stacked Column 100%</string>
				<key>exampleDescription</key>
				<string>Generates a Stacked Column 100% chart in code.</string>
				<key>exampleIcon</key>
				<string>ColumnChart</string>
				<key>exampleFile</key>
				<string>StackedColumnFullFillChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSStackedColumnFullFillChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Stacked Bar Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Stacked Column 100% chart in code.</string>
				<key>exampleIcon</key>
				<string>ColumnChart</string>
				<key>exampleFile</key>
				<string>StackedBarChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSStackedBarChartView</string>
			</dict>
		</array>
		<key>[5]Create Custom Charts</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Spline Scatter Line Chart</string>
				<key>exampleDescription</key>
				<string></string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>SplineScatterLineChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSSplineScatterLineChart</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Custom modifier example</string>
				<key>exampleDescription</key>
				<string>Create custom modifier with subclassing</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>CustomModifierView</string>
				<key>exampleSwiftFile</key>
				<string>SCSCustomModifierView</string>
			</dict>
		</array>
		<key>[6]Create Realtime Charts</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Fifo Scrolling Chart</string>
				<key>exampleDescription</key>
				<string>Demonstrates the difference between FIFO DataSeries and standard DataSeries</string>
				<key>exampleIcon</key>
				<string>RealTime</string>
				<key>exampleFile</key>
				<string>FifoScrollingChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSFifoScrollingChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Realtime Ghosted Traces</string>
				<key>exampleDescription</key>
				<string>This example shows persistence of old traces giving a ‘ghosted’ effect</string>
				<key>exampleIcon</key>
				<string>RealTime</string>
				<key>exampleFile</key>
				<string>RealTimeGhostTracesChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSRealTimeGhostedTracesChartView</string>
			</dict>
		</array>
		<key>[7]Create Stock Charts</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Multiple-Pane Stock Chart</string>
				<key>exampleDescription</key>
				<string>Multiple-Pane Stock Chart</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>MultiPaneStockChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSMultiPaneStockChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Realtime Ticking Stock Chart</string>
				<key>exampleDescription</key>
				<string>Realtime Ticking Stock Chart</string>
				<key>exampleIcon</key>
				<string>CandlestickChart</string>
				<key>exampleFile</key>
				<string>RealtimeTickingStockChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSRealtimeTickingStockChartView</string>
			</dict>
		</array>
		<key>[8]Legends</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Legend Chart</string>
				<key>exampleDescription</key>
				<string>Generates a Line-Chart in code with Legend Modifier.</string>
				<key>exampleIcon</key>
				<string>Annotations</string>
				<key>exampleFile</key>
				<string>LegendChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSLegendChartView</string>
			</dict>
		</array>
		<key>[9]Link Multiple Charts</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Sync Multi Chart</string>
				<key>exampleDescription</key>
				<string>Showcases how to synchronize axis ranges across multiple charts</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>MultipleSurfaceChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSSyncMultiChartView</string>
			</dict>
		</array>
		<key>[10]Manipulate Series</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Add Remove Series</string>
				<key>exampleDescription</key>
				<string>Demonstrates how to programmatically add and remove series in code</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>AddRemoveSeriesChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSAddRemoveSeries</string>
			</dict>
		</array>
		<key>[11]Modify Axis Behavior</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Secondary Y Axes</string>
				<key>exampleDescription</key>
				<string>Secondary Y Axes</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>SecondaryYAxesChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSSecondaryYAxesChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Multiple X Axes</string>
				<key>exampleDescription</key>
				<string>Demonstrates a line chart with four series and multiple top / bottom X-Axis and left / right Y-Axis</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>MultipleAxesChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSMultipleXAxesChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Logarithmic Axes</string>
				<key>exampleDescription</key>
				<string>This example demonstrates X and Y logarithmix axis in SciChart.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>LogarithmicAxisChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSLogarithmicAxisChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Vertical Chart</string>
				<key>exampleDescription</key>
				<string>Showcase how to draw vertical chart</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>VerticalChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSVerticalChartView</string>
			</dict>
		</array>
		<key>[12]Styling and Theming</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Styling chart</string>
				<key>exampleDescription</key>
				<string>Demonstrates how to change colors of chart area and renderable series</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>StylingSciChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSStylingSciChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Custom Theme</string>
				<key>exampleDescription</key>
				<string>Custom Theme</string>
				<key>exampleIcon</key>
				<string>StackedMountainChart</string>
				<key>exampleFile</key>
				<string>ThemeCustomChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSThemeCustomChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Dashed Line Chart</string>
				<key>exampleDescription</key>
				<string>Dashed Line Chart</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>DashedLineChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSDashedLineChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Using PaletteProvider</string>
				<key>exampleDescription</key>
				<string>Demonstrates how to use Palette Provider API to change series colors depending on data-values.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>PalettedChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSPalettedChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Using PointMarkers</string>
				<key>exampleDescription</key>
				<string>Demonstrates the PointMarker API which allows data-point markers to be added to many RenderableSeries types.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>UsingPointMarkersChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSUsingPointMarkers</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Theme Manager</string>
				<key>exampleDescription</key>
				<string>Theme Manager</string>
				<key>exampleIcon</key>
				<string>StackedMountainChart</string>
				<key>exampleFile</key>
				<string>ThemeProviderUsingChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSThemeProviderUsingChartView</string>
			</dict>
		</array>
		<key>[13]Tooltips and HitTest</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>HitTest API</string>
				<key>exampleDescription</key>
				<string>Demonstration HitTest API capabilities</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>HitTestAPIChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSHitTestAPIChart</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Using CursorModifier</string>
				<key>exampleDescription</key>
				<string>Demonstrates using the CursorModifier API</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>UsingCursorModifierChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSUsingCursorModifierChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Using RolloverModifier</string>
				<key>exampleDescription</key>
				<string>Demonstrates using the RolloverModifier API</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>UsingRolloverModifierChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSUsingRolloverModifierChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Using TooltipModifier</string>
				<key>exampleDescription</key>
				<string>Demonstrates using the TooltipModifier API</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>UsingTooltipModifierChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSUsingTooltipModifierChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Series Selection</string>
				<key>exampleDescription</key>
				<string>Demonstration of selection modifier and series selected style</string>
				<key>exampleIcon</key>
				<string>Annotations</string>
				<key>exampleFile</key>
				<string>SeriesSelectionView</string>
				<key>exampleSwiftFile</key>
				<string>SCSSeriesSelectionView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Customization RolloverModifier</string>
				<key>exampleDescription</key>
				<string>Demonstrates customization of the RolloverModifier</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>RolloverCustomizationChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSRolloverCustomizationChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Customization CursorModifier</string>
				<key>exampleDescription</key>
				<string>Demonstrates customization of the CursorModifier</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>CursorCustomizationChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSCursorCustomizationChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Customization TooltipModifier</string>
				<key>exampleDescription</key>
				<string>Demonstrates customization of the TooltipModifier</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>TooltipCustomizationChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSTooltipCustomizationChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Column drill down</string>
				<key>exampleDescription</key>
				<string>Custom modifier to view details</string>
				<key>exampleIcon</key>
				<string>ColumnChart</string>
				<key>exampleFile</key>
				<string>ColumnDrillDownView</string>
				<key>exampleSwiftFile</key>
				<string>SCSColumnDrillDownView</string>
			</dict>
		</array>
		<key>[14]Zoom and Pan a Chart</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>Drag Axis to Scale a Chart</string>
				<key>exampleDescription</key>
				<string>Showcase how to add Axis-Drag scaling</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>DragAxisToScaleChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSDragAxisToScaleChartView</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Pan and Zoom a Chart</string>
				<key>exampleDescription</key>
				<string>Demonstration chart scrolling and zooming</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>PanAndZoomChartView</string>
				<key>exampleSwiftFile</key>
				<string>SCSPanAndZoomChartView</string>
			</dict>
		</array>
		<key>[15]Performance demo</key>
		<array>
			<dict>
				<key>exampleName</key>
				<string>FIFO Performance Demo (1k points)</string>
				<key>exampleDescription</key>
				<string>FIFO Performance test.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>FIFOSpeedTestSciChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSFIFOSpeedTestSciChart</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Series Performance Demo</string>
				<key>exampleDescription</key>
				<string>100 Series. Each series has 100 points.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>NxMSeriesSpeedTestSciChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSNxMSeriesSpeedTestSciChart</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Scatter Performance Demo (20k points)</string>
				<key>exampleDescription</key>
				<string>Scatter chart with 20k points.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>ScatterSpeedTestSciChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSScatterSpeedTestSciChart</string>
			</dict>
			<dict>
				<key>exampleName</key>
				<string>Appending Performance Demo</string>
				<key>exampleDescription</key>
				<string>Appendig 1k points per sec during 10 sec.</string>
				<key>exampleIcon</key>
				<string>LineChart</string>
				<key>exampleFile</key>
				<string>AppendSpeedTestSciChart</string>
				<key>exampleSwiftFile</key>
				<string>SCSAppendSpeedTestSciChart</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
