//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// SciChartDemo-Mac.xcconfig is part of the SCICHART® Examples. Permission is hereby granted
// to modify, create derivative works, distribute and publish any part of this source
// code whether for commercial, private or personal use.
//
// The SCICHART® examples are distributed in the hope that they will be useful, but
// without any warranty. It is provided "AS IS" without warranty of any kind, either
// expressed or implied.
//******************************************************************************

#include "../Configuration/BaseFramework.xcconfig"

SDKROOT = macosx
SUPPORTED_PLATFORMS = macosx

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 4RZQG425FX

PRODUCT_NAME = SciChart Examples
PRODUCT_BUNDLE_IDENTIFIER = com.scichart.examples
ASSETCATALOG_COMPILER_APPICON_NAME = MacAppIcon
MACOSX_DEPLOYMENT_TARGET = 10.13

SKIP_INSTALL = NO
MACH_O_TYPE = mh_execute
STRIP_STYLE = all

INFOPLIST_FILE = SciChartDemo.Mac/Resources/SciChartDemo.Mac-Info.plist
CODE_SIGN_ENTITLEMENTS = SciChartDemo.Mac/Resources/SciChart.Examples.entitlements

COMBINE_HIDPI_IMAGES = YES
ENABLE_HARDENED_RUNTIME = YES
