//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// BaseFramework.xcconfig is part of SCICHART®, High Performance Scientific Charts
// For full terms and conditions of the license, see http://www.scichart.com/scichart-eula/
//
// This source code is protected by international copyright law. Unauthorized
// reproduction, reverse-engineering, or distribution of all or any portion of
// this source code is strictly prohibited.
//
// This source code contains confidential and proprietary trade secrets of
// SciChart Ltd., and should at no time be copied, transferred, sold,
// distributed or made available without express written permission.
//******************************************************************************

MARKETING_VERSION = 4.0.0
CURRENT_PROJECT_VERSION = 5410
DYLIB_CURRENT_VERSION = $(MARKETING_VERSION)

DYLIB_INSTALL_NAME_BASE = @rpath
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
SWIFT_VERSION = 5.0

LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

DEFINES_MODULE = YES            // This enables automatic production of LLVM module map files when appropriate, and allows the product to be imported as a module
GCC_SYMBOLS_PRIVATE_EXTERN = NO // All symbols are exported unless explicitly marked as private extern
CLANG_LINK_OBJC_RUNTIME = NO    // Opt out of implicitly link in Foundation (and if deploying back to an older OS) a backwards compatibility
CLANG_ENABLE_MODULES = YES      // Enables the use of modules for system APIs. System headers are imported as semantic modules instead of raw headers.
CLANG_MODULES_AUTOLINK = YES    // Automatically link SDK frameworks that are referenced using #import or #include. Requires enabling support for modules. Applies only to C-family languages.
