//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// Debug.xcconfig is part of SCICHART®, High Performance Scientific Charts
// For full terms and conditions of the license, see http://www.scichart.com/scichart-eula/
//
// This source code is protected by international copyright law. Unauthorized
// reproduction, reverse-engineering, or distribution of all or any portion of
// this source code is strictly prohibited.
//
// This source code contains confidential and proprietary trade secrets of
// SciChart Ltd., and should at no time be copied, transferred, sold,
// distributed or made available without express written permission.
//******************************************************************************

#include "Base.xcconfig"

BITCODE_GENERATION_MODE = marker    // XСode adds the build flag -fembed-bitcode-marker to any clang invocation. This results in an empty __LLVM segment to speed up compilation
GCC_OPTIMIZATION_LEVEL = 0          // None: Do not optimize. Compiler's goal is to reduce the cost of compilation and make debugging produce the expected results.
COPY_PHASE_STRIP = NO               // Binary files that are copied during the build (e.g. `Copy Bundle Resources` or `Copy Files`), should be stripped of debugging symbols.
ONLY_ACTIVE_ARCH = YES              // Only the active architecture is built. Will be ignored when building for specific architecture, e.g. `Generic Device`
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym  // In addition to DWARF format XCode will also produce a dSYM file containing the debug information from the individual object files

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
