//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// Release.xcconfig is part of SCICHART®, High Performance Scientific Charts
// For full terms and conditions of the license, see http://www.scichart.com/scichart-eula/
//
// This source code is protected by international copyright law. Unauthorized
// reproduction, reverse-engineering, or distribution of all or any portion of
// this source code is strictly prohibited.
//
// This source code contains confidential and proprietary trade secrets of
// SciChart Ltd., and should at no time be copied, transferred, sold,
// distributed or made available without express written permission.
//******************************************************************************

#include "Base.xcconfig"

ENABLE_BITCODE[sdk=iphone*] = YES           // Generates bitcode for Archive builds, for others - compiler and linker will check the requirements for bitcode generation, but will not generate actual bitcode.
ENABLE_BITCODE[sdk=iphonesimulator*] = NO   // Bitcode should be enabled for `iphone` only
ENABLE_BITCODE[sdk=macosx*] = NO            // Bitcode should be enabled for `iphone` only
BITCODE_GENERATION_MODE = bitcode           // XСode adds the build flag `-fembed-bitcode` to any clang invocation
GCC_OPTIMIZATION_LEVEL = s                  // Fastest, Smallest: Compilier does all speed optimizations that don't increase code size. On top of that performs ones to reduce code size.
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym  // In addition to DWARF format XCode will also produce a dSYM file containing the debug information from the individual object files
VALIDATE_PRODUCT = YES                      // Performs validation checks on the product as part of the build process
ENABLE_NS_ASSERTIONS = NO                   // Disabling assertions can improve code performance
STRIP_STYLE = non-global                    // Strips non-global symbols, but saves external symbols
BUILD_LIBRARY_FOR_DISTRIBUTION = YES        // This setting turns on both library evolution and module stability in Swift

CLANG_ENABLE_CODE_COVERAGE = NO             // Explicitly disable code coverage instruments in the release binary.
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO       // Explicitly disable program flow arcs instrumentation, no such code should be in release binary
