//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// SciChart.xcconfig is part of SCICHART®, High Performance Scientific Charts
// For full terms and conditions of the license, see http://www.scichart.com/scichart-eula/
//
// This source code is protected by international copyright law. Unauthorized
// reproduction, reverse-engineering, or distribution of all or any portion of
// this source code is strictly prohibited.
//
// This source code contains confidential and proprietary trade secrets of
// SciChart Ltd., and should at no time be copied, transferred, sold,
// distributed or made available without express written permission.
//******************************************************************************

#include "BaseFramework.xcconfig"

PRODUCT_NAME = SciChart
PRODUCT_BUNDLE_IDENTIFIER = com.scichart
INFOPLIST_FILE = SciChart/SciChart-Info.plist
MODULEMAP_FILE = SciChart/SciChart.modulemap
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

MACH_O_TYPE = mh_dylib

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../../../Twister3D/twister/api
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../../../Twister3D/TwisterFoundation/api
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../../../Core.Cpp/src/SciChart.Core/api
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../../../Core.Cpp/src/SciChart.Charting.2D.Native/api
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../../../Core.Cpp/src/SciChart.Charting.3D.Native/api

GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx*] = $(inherited) OPENGLES2_RENDERER TSR_PLATFORM_MAC TSR_REFLECTION_DISABLED ABT_LICENSING_OSX
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphone*] = $(inherited) OPENGLES2_RENDERER TSR_PLATFORM_IOS TSR_REFLECTION_DISABLED ABT_LICENSING_IOS

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SciChart/SciChart.PrefixHeader.pch
