//******************************************************************************
// SCICHART® Copyright SciChart Ltd. 2011-2020. All rights reserved.
//
// Web: http://www.scichart.com
// Support: support@scichart.com
// Sales:   sales@scichart.com
//
// SciChart.xcconfig is part of SCICHART®, High Performance Scientific Charts
// For full terms and conditions of the license, see http://www.scichart.com/scichart-eula/
//
// This source code is protected by international copyright law. Unauthorized
// reproduction, reverse-engineering, or distribution of all or any portion of
// this source code is strictly prohibited.
//
// This source code contains confidential and proprietary trade secrets of
// SciChart Ltd., and should at no time be copied, transferred, sold,
// distributed or made available without express written permission.
//******************************************************************************

PRODUCT_NAME = SciChartTests
PRODUCT_BUNDLE_IDENTIFIER = com.scichart.tests
INFOPLIST_FILE = SciChartTests/Info.plist
ONLY_ACTIVE_ARCH = YES

MACOSX_DEPLOYMENT_TARGET = "11.0"
IPHONEOS_DEPLOYMENT_TARGET = $SDK_VERSION

HEADER_SEARCH_PATHS = ../../../Core.Cpp/src/SciChart.Core/api

GCC_PREFIX_HEADER = SciChart/SciChart.PrefixHeader.pch
GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx*] = $(inherited) ABT_LICENSING_OSX
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphone*] = $(inherited) ABT_LICENSING_IOS

LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
